<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
  <title>博客管理首页</title>
</head>
<body>
  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(0)"/>
  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div class="ui success large message">
        <h3>Hi,</h3>
        <p><span th:text="${session.user.nickname}">zb</span>，欢迎登录！</p>
      </div>

      <img src="../../static/images/0.jpg" th:src="@{/images/0.jpg}" alt="" class="ui rounded bordered fluid image">
    </div>
  </div>

  <br>
  <br>

  <!--底部footer-->
  <footer th:replace="admin/_fragments :: footer"/>
  <f th:replace="admin/_fragments :: f" />

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

  </script>
</body>
</html>