<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
<head>
    <title>博客发布</title>
</head>
<body>
<!--导航-->
<nav th:replace="admin/_fragments :: menu(2)"/>

<!--二级导航-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/types-input}" class="teal active item">新增</a>
            <a href="#" th:href="@{/admin/types}" class="item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form  method="post" th:object="${type}" th:action="*{id}==null ? @{/admin/types} : @{/admin/types/input}" class="ui form">
            <input type="hidden" name="id" th:value="*{id}">
            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">分类</label>
                    <input type="text" name="name" placeholder="分类名称" th:value="*{name}">
                </div>
            </div>

            <!--错误信息-->
            <div class="ui error message"></div>
            <div class="ui negative message" th:unless="${#strings.isEmpty(msg)}">
                <i class="close icon"></i>
                <div th:text="|提示： ${msg}">提示：不能添加重复的分类></div>
            </div>
            <!--操作-->
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button class="ui teal submit button">添加</button>
            </div>
        </form>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



<!--底部footer-->
<footer th:replace="admin/_fragments :: footer"/>


<!--js-->

<f th:replace="admin/_fragments :: f" />
<script>
    $('#newblog-container').load(/*/footer/newblog*/"/footer/newblog");
</script>
<script>

    $('.ui.form').form({
        fields : {
            title : {
                identifier: 'name',
                rules: [{
                    type : 'empty',
                    prompt: '请输入分类名称'
                }]
            }
        }
    });
</script>
</body>
</html>